/* Global
------------------------*/
*, ::after, ::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  color: #212121;
  background-color: #fff;
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  line-height: 1.6;
}


h2 {
  font-size: 1.6rem;
  font-weight: 500;
  margin: 1.2rem 0 1.8rem;
}

strong {
  font-weight: 500;
}

/* Layout
------------------------*/
.app {
  padding: 4rem 0;
}

.row .col {
  padding: 0 2rem;
}

/* Nav
------------------------*/
.nav {
  padding: 0 2rem;

  .brand-logo {
    font-size: 1.4rem;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
  }

  a {
    font-size: 1.1rem;
    font-weight: 400;
    padding: 0 1.4rem;
  }
}

/* Add item
------------------------*/
.app .add-item {
  padding-left: 0;
  margin-left: 0 !important;
  padding-bottom: 2rem;

  .input-field {
    margin-top: 2.2rem;
  }

  .btn {
    height: auto;
    font-weight: 500;
    line-height: 1;
    margin-top: 1rem;
    padding: 1rem 1.6rem;
  }
}

/* Item list
------------------------*/
.app .items {
  padding-left: 0;
  padding-right: 0;

  .item {
    display: flex;
    align-items: center;
    padding: 1.4rem 2rem;
  
    p {
      margin: 0;
      font-size: 1.2rem;
    }
  
    span {
      display: block;
      font-size: 0.96rem;
      margin-top: 0.2rem;
    }
  
    button {
      background: none;
      cursor: pointer;
      border: none;
      margin-left: auto;
    }

    i {
      color: #e57373;
      display: inline-block;
      transition: 0.2s all ease-in-out;

      &:hover {
        color: #ef5350;
      }
    }
  }
}

/* Media queries
------------------------*/
@media(min-width: 768px) {
  .app .row {
    display: flex;
  }
}